<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Reading List</title>
</head>
<body class="index-body">
  <%- include('./partials/_navbar.ejs') %>
  <div class="index-container">
    <div class="text-container">   
      <h1 class="main-header">Reading List</h1>
      <p class="subheader">To help you keep track of books you've read and still want to read!</p>
    </div>
  </div>
</body>
<footer>Background image designed by <a class="attribution" href="https://www.freepik.com">Freepik</a></footer>
</html>