<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reading List</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
     <h1>Reading List</h1>
     <p>To help you keep track of books you've read and still want to read!</p>
</body>
</html>