@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #e0bbf0;
  }

.index-body {
    background-image: url('https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5918.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    color: white;
  }
     
  .main-header {
    font-weight: bold;
    color: white;
    font-size: 5.6em;
    margin: -160px 20px 0 20px;
  }
     
  .subheader {
    margin: 0 20px 0 20px;
    font-size: 1.4em;
  }
     
  .index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
